// DEV

// * {
// 	border-style: solid;
// 	border-width: 1px;
// }
// font-family: 'Kanit', sans-serif;


// RULES 

@import 'universal';

// CONDITIONAL - LESS THAN 576 PX

.navBar {
	border-bottom: 1px solid;
}

.navNameBox {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: $smooth-grey;
}

.linksRow {
	text-align: center !important;
}

.navName {
	font-size:	16px;
	text-align: left !important;
}

.navTitle {
	font-size:	10px;
	text-align: right !important;
}

.linkCol {
	padding-top: 6px;
    font-size: 10px;
}

.fixedNavBarSpacer {
	height: 65px;
}

@media (min-width: 576px) { 
	.navBar {
		border-bottom: 2px solid;
	}

	.fixedNavBarSpacer {
		height: 100px;
	}

	// to try line style under 992 instead
	// move nav-name-box, nav-name and nav-title to next block
	.navNameBox {
	    border-style: solid;
	    border-width: 3px;
	    border-color: $smooth-grey;
	}

	.navName {
		font-size:20px;
		text-align: right !important;
	}

	.navTitle {
		font-size:14px;
		text-align: left !important;
		position: absolute;
	    top: 8px;
	}

	.linkCol {
		padding-top: 15px;
	    font-size: 13px;
	}

	.navBarContainer {
		padding-bottom: 10px;
	}
}

@media (min-width: 992px) {
	.fixedNavBarSpacer {
		height: 66px;
	}

	.linksRow {
		text-align: right !important;
	}
}

// ALWAYS STYLES

.navBar {
	border-color: $smooth-grey;
	padding-bottom: 3px;
	position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
	z-index: 100;
}

.fixedNavBarSpacer {
	width: 100%;
}

.navBarContainer {
	font-family: 'Catamaran', sans-serif;
	font-weight: 900;
	padding-top: 10px;
}

.navName {
    padding-top: 3;
    color: $smooth-grey;
	padding-top: 3px;
	padding-bottom: 2px;
	letter-spacing: 3px;
	display: inline-block;
	width: 50%;
	padding-right: 9px;
}

.navTitle {
	color: $smooth-grey;
	display: inline-block;
	width: 50%;
    padding-left: 9px;
}

.navBar {
	a:link, a:visited, a:hover, a:active {
		text-decoration: none;
	}
	a:link {
		color: $smooth-grey;
	}
	a:visited {
		color: $smooth-grey;
	}
	a:hover {
		color: black;
	}
	a:active {
		color: $smooth-grey;
	}
}