@import '../../universal';

@media (max-width: 374px) {
	.videoLimiter {
		width: 290px;
		height: 162px;
	}

}

@media (min-width: 375px) {
	.videoLimiter {
		width: 345px;
		height: 193px;
	}

	.resumeRowHeader {
		text-decoration: underline;
		margin-bottom: 5px;
	}
}

@media (min-width: 576px) {
	.videoLimiter {
		width: 510px;
		height: 287px;
	}

	.resumeRowHeader {
		text-decoration: underline;
		margin-bottom: 5px;
	}
}

@media (min-width: 768px) {
	.videoLimiter {
		width: 570px;
		height: 323px;
	}

	.resumeRowHeader {
		text-decoration: none;
		margin-bottom: 0px;
	}
}

@media (min-width: 992px) {
	.videoLimiter {
		width: 370px;
		height: 207px;
	}
}

@media (min-width: 1200px) {
	.videoLimiter {
		width: 450px;
		height: 252px;
	}
}

.projectContainer {
	font-family: 'Lato', sans-serif;

	.name {
		font-size: 22px;
	}
}

.resumeRow {
	margin-bottom: 20px;
}

.resumeRowHeader {
	@include textWrapWithHyphen();
}

.videoLimiter {
	margin-bottom: 20px;
}
