@import '../universal';

$single-mobile-tile: 250px;

$large-tile-two: 400px;
$medium-tile-two: 300px;
$small-tile-two: 250px;

$xlarge-tile-three: 340px;
$large-tile-three: 290px;
$medium-tile-three: 208px;
$small-tile-three: 150px;

$tile-cover-transition-time: opacity 0.2s ease-out;

@mixin tileCoverOn() {
	.tileCoverCaption {
		opacity: 1;
	}
	.tileCoverBackground {
		opacity: .5;
	}
}
@mixin tileCoverOff() {
	.tileCoverCaption,
	.tileCoverBackground {
		opacity: 0;
	}
}

// CONDITIONAL

.tileCover { // on by default on small screens
	@include tileCoverOn();
}

@media (max-width: 575px) {
	.tileTwo {
	    width: $single-mobile-tile;
		height: $single-mobile-tile;
		margin-bottom: 30px; // picked up by tile-row when row not broken 576+
	}

	.tileThree {
	    width: $single-mobile-tile;
		height: $single-mobile-tile;
		margin-bottom: 30px; // picked up by tile-row when row not broken 576+
	}

	.tileLeft {
		margin-left:auto;
		margin-right:auto;
	}

	.tileRight {
		margin-left:auto;
		margin-right:auto;
	}

	.tileCoverCaption {
		font-size: 30px;
		padding-top: 100px;
	}
}

@media (min-width: 576px) {
	.tileTwo {
	    width: $small-tile-two;
		height: $small-tile-two;
	}

	.tileThree {
	    width: $small-tile-three;
		height: $small-tile-three;
	}

	.tileLeft {
		margin-left:auto;
	}

	.tileRight {
		margin-right:auto;
	}

	.tileRow {
		margin-bottom: 30px;
	}

	.tileCoverCaption {
		font-size: 35px;
		padding-top: 100px;
	}
}

@media (min-width: 768px) {
	.tileTwo {
		width: $medium-tile-two;
		height: $medium-tile-two;
	}

	.tileThree {
		width: $medium-tile-three;
		height: $medium-tile-three;
	}

	.tileCoverCaption {
		font-size: 40px;
		padding-top: 120px;
	}
}

@media (min-width: 992px) {
	.tileTwo {
		width: $large-tile-two;
		height: $large-tile-two;
	}

	.tileThree {
		width: $large-tile-three;
		height: $large-tile-three;
	}

	.tileCover {
		@include tileCoverOff();
	}
	.tileCover:hover {
		@include tileCoverOn();
	}

	.tileCoverCaption {
		padding-top: 180px;
	}
}

@media (min-width: 1200px) {
	.tileThree {
		width: $xlarge-tile-three;
		height: $xlarge-tile-three;
	}
}


// constant 

.tile {
	border-style: solid;
    border-width: 1px;
    border-color: $smooth-grey;
    position: relative;
}

.tileCenter {
	margin-right: auto;
	margin-left: auto;
}

.tileImageBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.tileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tileCover {
	position: absolute;
	width: 100%;
	height:	100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.tileCoverBackground {
	position: absolute;
	width: 100%;
	height:	100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	transition: $tile-cover-transition-time;
}
.tileCoverCaption {
	text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    position:absolute;
	top: 0;
    z-index: 20;
    transition: $tile-cover-transition-time;
}

