// * {
// 	border-style: solid;
// 	border-width: 1px;
// }

$smooth-grey: #ACADB0;

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}
a:link {
	color: $smooth-grey;
}
a:visited {
	color: $smooth-grey;
}
a:hover {
	color: black;
}
a:active {
	color: $smooth-grey;
}

.nav-bar {
		border-bottom: 5px solid;
		border-color: #000;
		padding-bottom: 3px;
	}

@media (min-width: 992px) {
	.nav-bar {
		border-bottom: 2px solid;
		border-color: $smooth-grey;
		padding-bottom: 3px;
	}

	.nav-bar-container {
		font-family: 'Catamaran', sans-serif;
		font-weight: 900;
		padding-top: 10px;
		padding-bottom: 10px;
		// font-family: 'Kanit', sans-serif;
	}

	.nav-name-box {
	    border-style: solid;
	    border-width: 3px;
	    border-color: $smooth-grey;
	}

	.nav-name {
		font-size:20px;
	    padding-top: 3;
	    margin-left: auto;
	    margin-right: auto;
	    color: $smooth-grey;
		padding-top: 3px;
		padding-bottom: 2px;
		letter-spacing: 3px;
	}

	.nav-title {
		font-size:14px;
		color: $smooth-grey;
		padding-top: 9px;
	}

	.links-row {
		
	}

	.link-col {
		padding-top: 15px;
	    font-size: 13px;
	}
}
